In [1]:
print('this')

this

In [2]:
l = list('abcd')

In [3]:
len(l)

4

In [4]:
def test():

SyntaxError: incomplete input (3861551224.py, line 1)

In [5]:
def test():
    pass

In [6]:
def test1():
    print('this is my first fun')

In [8]:
test1()

this is my first fun

In [11]:
#function gives 'NoneType' when using print so can't concatenate with str
test1() + 'abc'

this is my first fun

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [12]:
type(print('abc'))

abc

NoneType

In [13]:
def test2():
    return 'second fun with retrun'

In [15]:
test2() + 'abc'

'second fun with retrunabc'

In [17]:
type(test2()) # type is same as provided in the string

str

In [18]:
def test3():
    return 1,4,'pws',34.56

In [20]:
test3(), type(test3())

((1, 4, 'pws', 34.56), tuple)

In [21]:
a=1,2,3,4,5

In [22]:
a,type(a)

((1, 2, 3, 4, 5), tuple)

In [23]:
a,b,c,d = 1,'b',34.3,False

In [24]:
a,b,c,d,type(a),type(b),type(c),type(d)

(1, 'b', 34.3, False, int, str, float, bool)

In [25]:
#tuple unpacking
a,b,c,d = test3()
c

'pws'

In [27]:
for i in test3():
    print(i)

1
4
pws
34.56

In [34]:
def test4():
    a = 3*(5**4)
    return a

In [35]:
test4()

1875

In [36]:
#pass the var value
def test5(a,b):
    c = a+b
    return c #or retrurn a+b

In [39]:
#now we'll have to provide the arguments as many as given in the funcion
test5()

TypeError: test5() missing 2 required positional arguments: 'a' and 'b'

In [40]:
test5(6,88)

94

In [41]:
test5('ab ', 'cd')

'ab cd'

In [42]:
test5([1,2,3],['a','b'])

[1, 2, 3, 'a', 'b']

In [43]:
test5(b='cd', a='ab ')

'ab cd'

In [44]:
l = [1,2,3,4,5,'ab','pws',[7,8,9,10]]

In [50]:
#funtion to take a list and give me list of all numeric value
def test6(list_):
    a = []
    for i in list_:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    a.append(j)
        elif type(i) == int or type(i) == float:
            a.append(i)
        
    return a

In [51]:
test6(l)

[1, 2, 3, 4, 5, 7, 8, 9, 10]

In [53]:
import numpy as np
np.array(l)

/tmp/ipykernel_77/2048748389.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  np.array(l)

array([1, 2, 3, 4, 5, 'ab', 'pws', list([7, 8, 9, 10])], dtype=object)

In [63]:
#understand how it's done recursively!!

def flat_rec(list_):
    if len(list_) ==0:
        return list_
    if isinstance(list_[0],list):
        return flat_rec(list_[0]+flat_rec(list_[1:]))
    
    return list_[:1] +flat_rec(list_[1:])

In [64]:
flat_rec(l)

[1, 2, 3, 4, 5, 'ab', 'pws', 7, 8, 9, 10]

In [65]:
l2=[[[1,2,3],[4,5,6],7,8],[9,10],11,'a']

In [66]:
flat_rec(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'a']