#### Q1. What is a database? Differentiate between SQL and NoSQL databases.
    Ans. A database is a structured collection of data that is organized, stored, and managed in a way that allows for efficient retrieval, manipulation, and querying of data. Databases are used to store and manage vast amounts of information in a systematic manner to support various applications and business processes.

    SQL (Structured Query Language) and NoSQL (Not only SQL) are two main types of databases with different approaches to data storage and retrieval:

    SQL Databases:

    SQL databases are relational databases that store data in tables with predefined schemas.
    They use SQL as the standard query language for defining and manipulating the data.
    Examples of SQL databases include MySQL, PostgreSQL, Oracle, SQL Server, etc.
    SQL databases are suitable for applications with complex relationships between data and well-defined schemas.
    NoSQL Databases:

    NoSQL databases are non-relational databases that provide flexibility in data storage without following a fixed schema.
    They use various data models like key-value, document, column-family, and graph.
    Examples of NoSQL databases include MongoDB, Cassandra, Redis, Couchbase, etc.
    NoSQL databases are suitable for applications with unstructured or rapidly changing data, and where horizontal scaling is essential.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
    Ans. DDL stands for Data Definition Language. It is a subset of SQL used to define and manage the structure of database objects like tables, indexes, and constraints. DDL commands do not manipulate data directly but instead modify the database's structure.
    
    1. CREATE: Used to create new database objects.
    CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    salary DECIMAL(10, 2)
    );
    
    2. DROP: Used to remove database objects like tables, indexes, or views.
    DROP TABLE employees;
    
    3. ALTER: Used to modify the structure of an existing database object.
    ALTER TABLE employees
    ADD COLUMN department VARCHAR(50);

    4. TRUNCATE: Used to remove all data from a table, but not the table structure itself. It is faster than the DELETE command for large data sets since it does not log individual row deletions.
    TRUNCATE TABLE employees;

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
    Ans. DML stands for Data Manipulation Language. It is a subset of SQL used to manipulate the data stored in the database. DML commands are used to insert, update, and delete records in the database.
    
    1. INSERT: Used to add new records to a table.
    INSERT INTO employees (id, name, salary, department)
    VALUES (1, 'John Doe', 50000, 'HR');
    
    2. UPDATE: Used to modify existing records in a table.
    UPDATE employees
    SET salary = 55000
    WHERE name = 'John Doe';
    
    3. DELETE: Used to remove one or more records from a table.
    DELETE FROM employees
    WHERE name = 'John Doe';

#### Q4. What is DQL? Explain SELECT with an example.
    Ans. DQL stands for Data Query Language. It is a subset of SQL used to retrieve and query data from the database. The most commonly used DQL command is SELECT, which allows you to retrieve specific data from one or more tables.
    Eg - SELECT name, course FROM students
         WHERE age > 20;

#### Q5. Explain Primary Key and Foreign Key.
    Ans. Primary Key:
    A primary key is a column or a set of columns in a table that uniquely identifies each row in the table.
    It enforces the entity's uniqueness and ensures that each row has a distinct identity.
    A primary key column cannot contain duplicate or null values.
    In most databases, a primary key also automatically creates an index on the column(s) to optimize search and retrieval operations.
    For example, in an "employees" table, the "employee_id" column can be the primary key as it uniquely identifies each employee record.
    
    Foreign Key:
    A foreign key is a column or a set of columns in a table that refers to the primary key of another table, establishing a link between the two tables.
    It creates a relationship between the data in different tables and maintains referential integrity.
    Foreign keys ensure that data in the child table (referring table) corresponds to data in the parent table (referred table).
    When a foreign key is defined, it typically enforces that the values in the foreign key column(s) must exist in the primary key column(s) of the referenced table.
    For example, in a "orders" table, there could be a "customer_id" column that is a foreign key referring to the "customer_id" primary key column in the "customers" table. This ensures that each order is associated with an existing customer.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
    Ans. mycursor = mydb.cursor(): This creates a cursor object. A cursor is like a pointer that allows you to execute SQL queries and fetch results from the database.

    mycursor.execute("SELECT * FROM employees"): This line executes the SQL query specified within the execute() method. In this example, we are selecting all rows from the "employees" table.
    
    mycursor.fetchall(): This method retrieves all the rows from the last executed query. The result is stored in the result variable.

In [ ]:
# pip install mysql-connector-python

import mysql.connector

# Establish a connection to the MySQL database
mydb = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object to interact with the database
mycursor = mydb.cursor()

# Execute an SQL query
mycursor.execute("SELECT * FROM employees")

# Fetch the results from the executed query
result = mycursor.fetchall()

# Display the results
for row in result:
    print(row)

# Close the cursor and database connection
mycursor.close()
mydb.close()

#### Q7. Give the order of execution of SQL clauses in an SQL query.
    Ans. Order of execution of SQL clauses in an SQL query:-
    
    FROM: The FROM clause specifies the table(s) from which the data is retrieved.

    JOIN: If applicable, the JOIN clause is used to combine rows from multiple tables based on a related column between them.

    WHERE: The WHERE clause filters the rows based on specified conditions. It is used to retrieve only the rows that meet the specified criteria.

    GROUP BY: The GROUP BY clause groups the result set into summary rows based on specified columns.

    HAVING: The HAVING clause filters the grouped rows based on specified conditions. It is similar to the WHERE clause but used with grouped data.

    SELECT: The SELECT clause retrieves the specified columns from the result set.

    DISTINCT: The DISTINCT keyword filters out duplicate rows from the result set.

    ORDER BY: The ORDER BY clause sorts the result set based on specified columns in ascending or descending order.

    LIMIT or OFFSET: The LIMIT and OFFSET clauses limit the number of rows returned or skip a specified number of rows, respectively.