In [ ]:
Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’
Add ‘mango to the above list
Also add banana, grapes & orange in the list
insert apple in the 5th position of a variable ‘a’
Remove last item from the list

In [4]:
l=[2,3,4,5,6,7,'a']

In [5]:
l.append('mango')
l

[2, 3, 4, 5, 6, 7, 'a', 'mango']

In [7]:
l = l + ['banana','grapes','orange']
l

[2, 3, 4, 5, 6, 7, 'a', 'mango', 'banana', 'grapes', 'orange']

In [8]:
l[6] = 'apple'

In [9]:
l

[2, 3, 4, 5, 6, 7, 'apple', 'mango', 'banana', 'grapes', 'orange']

In [ ]:
Q2. Using the above list slice from 1:4
L = [1,2,3,4,5,6,7]

In [10]:
L = [1,2,3,4,5,6,7]

In [12]:
L[1:4]

[2, 3, 4]

In [ ]:
Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [16]:
L = [4,5,6,8,3]
L.reverse()
L

[3, 8, 6, 5, 4]

In [17]:
L[::-1]

[4, 5, 6, 8, 3]

In [ ]:
Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [18]:
L=[2,4,7,3,6,8]
[x**2 for x in L]

[4, 16, 49, 9, 36, 64]

In [ ]:
Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the
function with a tuple of your choice.

In [25]:
def tup_sum(t):
    return sum(t)

In [28]:
tup_sum((1,2,3,2,2,5.3,6.3))

21.6

In [ ]:
Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set.
Print the resulting set to the console.

In [29]:
fruits1 = {"apple", "banana", "pear"}
fruits2 = {"orange", "grape", "kiwi"}

In [30]:
fruits1.union(fruits2)

{'apple', 'banana', 'grape', 'kiwi', 'orange', 'pear'}

In [ ]:
Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the
resulting set to the console.

In [31]:
words = {"hello", "world", "python"}
words.add("programming")
print(words)

{'programming', 'world', 'hello', 'python'}

In [ ]:
Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the
set. Print the resulting set to the console.

In [37]:
animals = {"dog", "cat", "hamster", "parrot"}

In [38]:
animals.remove('cat')
animals

{'dog', 'hamster', 'parrot'}

In [ ]:
Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
Use the zip() function to combine the book set and movie list into a list of tuples representing book/
movie pairs. Print the resulting list.

In [48]:
favorite_books = ["1984", "To Kill a Mockingbird", "Pride and Prejudice"]
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

In [49]:
book_movie = zip(favorite_books,favorite_movies)

In [50]:
list(book_movie)

[('1984', 'The Shawshank Redemption'),
 ('To Kill a Mockingbird', 'The Godfather'),
 ('Pride and Prejudice', 'The Dark Knight')]

In [ ]:
Q10. Write a Python program to find the difference between consecutive numbers in a list.

In [54]:
def consecutive_diff(list_):
    diff = []
    for i in range(len(list_)-1):
        diff.append(list_[i+1]-list_[i])
                    
    return diff

In [56]:
consecutive_diff([2,3,5,4,8,10,2])

[1, 2, -1, 4, 2, -8]