In [1]:
#Variance and standard deviation

In [5]:
import numpy as np
age = np.random.randint(60,100,(10))
age

array([98, 72, 70, 67, 85, 61, 80, 67, 94, 69])

In [7]:
np.mean(age),np.var(age),np.std(age)

(76.3, 139.20999999999998, 11.79872874508097)

In [8]:
import pandas as pd

In [10]:
data=[[10,12,13],[34,23,45],[32,34,21]]

In [15]:
df=pd.DataFrame(data,columns=['a','b','c'])
df

    a   b   c
0  10  12  13
1  34  23  45
2  32  34  21

In [17]:
df.var(),df.var(axis=0)#axis = 0  for row wise variance

(a    177.333333
 b    121.000000
 c    277.333333
 dtype: float64,
 a    177.333333
 b    121.000000
 c    277.333333
 dtype: float64)

In [18]:
df.std(),df.std(axis=0)

(a    13.316656
 b    11.000000
 c    16.653328
 dtype: float64,
 a    13.316656
 b    11.000000
 c    16.653328
 dtype: float64)

In [19]:
eg = [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [20]:
np.std(eg)

1.7885814036548633