In [3]:
# Consider following code to answer further questions:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

#### Q1. Write a code to print the data present in the second row of the dataframe, df.
    Ans. df[1:2]
        df.iloc[1:2]
        df.iloc[[1]]

In [4]:
df[1:2],df.iloc[1:2],df.iloc[[1]]

(        course_name  duration
 1  Machine Learning         3,
         course_name  duration
 1  Machine Learning         3,
         course_name  duration
 1  Machine Learning         3)

#### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
    Ans. loc - if named index, have to pass index name, iloc - even for named index, work like default index starts 0 to n

#### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df  then find the output for both new_df.loc[2] and new_df.iloc[2].
    Did you observe any difference in both the outputs? If so then explain it.
    
    Ans. yes, 
        new_df.loc[2] = same
        new_df.iloc[2] = new_df.loc[1]

In [5]:
# Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]

# Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

#### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
#### (i) mean of each and every column present in the dataframe.
    Ans. df1.mean() # or can use to get stats of df using df.describe()

#### (ii) standard deviation of column, ‘column_2’
    Ans. df1.std(), df1['column_2'].std()

In [12]:
print(df1.mean(), df1.std(), df1['column_2'].std())

column_1    0.673739
column_2    0.672470
column_3    0.477540
column_4    0.498156
column_5    0.592556
column_6    0.511024
dtype: float64 column_1    0.248221
column_2    0.220997
column_3    0.252876
column_4    0.252860
column_5    0.266331
column_6    0.337863
dtype: float64 0.2209965306582894

#### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
    [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.] 
    If you are getting errors in executing it then explain why.

    Ans. df1.loc[2,'column_2'] = 'str'
        column - will provide mean of all columns but, column_2
        column_2 will give error as can't compute mean with num and str values as data types are different.

#### Q6. What do you understand about the windows function in pandas and list the types of windows functions?
    Ans. window functions are useful for performing various calculations, such as moving averages, cumulative sums, rolling standard deviations, and more, on your data. In pandas, the window functions allow you to perform calculations on a rolling or expanding window of data in a DataFrame or Series. These functions operate on a specified window of data, which can be defined by a fixed size or based on a time period.
    
    Rolling Window Functions: These functions perform calculations on a fixed-size rolling window of data. The window moves along the data, and the calculations are applied to each window. Some common rolling window functions include:

        rolling(): This function creates a rolling window object that can be used with various aggregating functions like mean(), sum(), max(), etc.

        rolling().mean(): Calculates the mean value of the rolling window.

        rolling().sum(): Calculates the sum of the values in the rolling window.

        rolling().max(): Finds the maximum value in the rolling window.

        rolling().min(): Finds the minimum value in the rolling window.

    Expanding Window Functions: These functions perform calculations on an expanding window of data. The window starts from the beginning of the data and expands as new data points are encountered. Some common expanding window functions include:

        expanding(): This function creates an expanding window object that can be used with various aggregating functions like mean(), sum(), max(), etc.

        expanding().mean(): Calculates the mean value of the expanding window.

        expanding().sum(): Calculates the cumulative sum of the values in the expanding window.

        expanding().max(): Finds the maximum value encountered so far in the expanding window.

        expanding().min(): Finds the minimum value encountered so far in the expanding window.

#### Q7. Write a code to print only the current month and year at the time of answering this question.
    [Hint: Use pandas.datetime function]

In [13]:
from datetime import date
today = date.today()
current_date = today.day
current_month = today.month
current_year = today.year
current_date, current_month, current_year

(14, 7, 2023)

#### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [14]:
import pandas as pd
# dt2 = pd.date_range(start='2023-03-02',end='2023-03-03')
start = pd.to_datetime(input('Enter Start Date: '))
end = pd.to_datetime(input('Enter end Date: '))
diff = pd.Timedelta(end - start,'h')
print('Date diff is {}'.format(diff))

Enter Start Date: 2023-03-05
Enter end Date: 2023-03-10
Date diff is 5 days 00:00:00

#### Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [15]:
import pandas as pd

file_path = input("Enter the file path: ")
df = pd.read_csv(file_path)

column_name = input("Enter the column name to convert: ")
df[column_name] = pd.Categorical(df[column_name])

category_order = input("Enter the category order (comma-separated): ")
category_order = [category.strip() for category in category_order.split(",")]

df[column_name] = df[column_name].cat.set_categories(category_order)

df_sorted = df.sort_values(column_name)
print(df_sorted)

Enter the file path: https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Enter the column name to convert: Embarked
Enter the category order (comma-separated): S,Q,C
     PassengerId  Survived  Pclass                                       Name  \
0              1         0       3                    Braund, Mr. Owen Harris
540          541         1       1                    Crosby, Miss. Harriet R
541          542         0       3       Andersson, Miss. Ingeborg Constanzia
542          543         0       3          Andersson, Miss. Sigrid Elisabeth
543          544         1       2                          Beane, Mr. Edward
..           ...       ...     ...                                        ...
255          256         1       3    Touma, Mrs. Darwis (Hanne Youssef Razi)
244          245         0       3                       Attalah, Mr. Sleiman
381          382         1       3                Nakid, Miss. Maria ("Mary")
61            62         1       1                        Icard, Miss. Amelie
829          830         1       1  Stone, Mrs. George Nelson (Martha Evelyn)

        Sex   Age  SibSp  Parch     Ticket     Fare Cabin Embarked
0      male  22.0      1      0  A/5 21171   7.2500   NaN        S
540  female  36.0      0      2  WE/P 5735  71.0000   B22        S
541  female   9.0      4      2     347082  31.2750   NaN        S
542  female  11.0      4      2     347082  31.2750   NaN        S
543    male  32.0      1      0       2908  26.0000   NaN        S
..      ...   ...    ...    ...        ...      ...   ...      ...
255  female  29.0      0      2       2650  15.2458   NaN        C
244    male  30.0      0      0       2694   7.2250   NaN        C
381  female   1.0      0      2       2653  15.7417   NaN        C
61   female  38.0      0      0     113572  80.0000   B28      NaN
829  female  62.0      0      0     113572  80.0000   B28      NaN

[891 rows x 12 columns]

#### Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

file_path = input("Enter the file path: ")
df = pd.read_csv(file_path)

df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)

df_grouped = df.groupby('Category').resample('M').sum()
df_unstacked = df_grouped.unstack(level='Category')
df_unstacked.plot(kind='bar', stacked=True)

plt.title('Sales by Product Category')
plt.xlabel('Month')
plt.ylabel('Sales')
plt.show()

#### Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.
    The program should do the following
    * Prompt the user to enter the file path of the CSV file containing the student dataR
    * Read the CSV file into a Pandas DataFrameR
    I Calculate the mean, median, and mode of the test scores using Pandas toolsR
     * Display the mean, median, and mode in a table.
     
    Assume the CSV file contains the following columns:
     * Student ID: The ID of the studentR
     * Test Score: The score of the student's test.
     
    Example usage of the program:
    Enter the file path of the CSV file containing the student data: student_data.csv
    +-----------+--------+
    | Statistic | Value |
    +-----------+--------+
    | Mean | 79.6 |
    | Median | 82 |
    | Mode | 85, 90 |
    +-----------+--------+
    
    Assume that the CSV file student_data.csv contains the following data:
    Student ID,Test Score
    1,85
    2,90
    3,80
    4,75
    5,85
    6,82
    7,78
    8,85
    9,90
    10,85
    
    The program should calculate the mean, median, and mode of the test scores and display the results in a table.

In [ ]:
import pandas as pd

file_path = input("Enter the file path of the CSV file containing the student data: ")
df = pd.read_csv(file_path)

mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_scores = df['Test Score'].mode()

results_table = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean_score, median_score, ', '.join(map(str, mode_scores))]
})
print(results_table)