In [1]:
import seaborn as sns

In [5]:
df = sns.load_dataset('healthexp')
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [6]:
#covariance
import numpy as np

In [8]:
df.cov()

/tmp/ipykernel_1545/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

In [13]:
#correlation
df.corr(),df.corr(method='pearson'),df.corr(method='spearman')

/tmp/ipykernel_1545/2849200960.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(),df.corr(method='pearson'),df.corr(method='spearman')

(                     Year  Spending_USD  Life_Expectancy
 Year             1.000000      0.826273         0.902175
 Spending_USD     0.826273      1.000000         0.579430
 Life_Expectancy  0.902175      0.579430         1.000000,
                      Year  Spending_USD  Life_Expectancy
 Year             1.000000      0.826273         0.902175
 Spending_USD     0.826273      1.000000         0.579430
 Life_Expectancy  0.902175      0.579430         1.000000,
                      Year  Spending_USD  Life_Expectancy
 Year             1.000000      0.931598         0.896117
 Spending_USD     0.931598      1.000000         0.747407
 Life_Expectancy  0.896117      0.747407         1.000000)

In [11]:
df2=sns.load_dataset('penguins')
df2.sample()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
122,Adelie,Torgersen,40.2,17.0,176.0,3450.0,Female

In [12]:
df.corr()

/tmp/ipykernel_1545/1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000